.loader {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: #262525;
}

.loader-rounded {
	width: 200vw;
	height: 200vh;
	transform-origin: center;
}

.loading {
	overflow: hidden;
	height: 100vh;
}

.loader-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: calc(28px + (60 - 28) * ((100vw - 360px) / (1800 - 360)));
	color: #000 !important;
}
